.ql-editor ol > li,
.ql-editor ul > li {
  display: flex;
  order: 1;
  height: 200px;
  padding: 20px;
  color: darkblue;
  list-style-type: none;
  background: #777;
  border: 1px solid #CCC;
  box-shadow: antiquewhite;
}

.ql-editor ul {
  padding-left: 1.5em;
}
